%h3
  INSTRUCTIONS
%p
  Select "Conversion" or "Double-line"
%p
  Type or copy your material into the box.
%p
  (If a "conversion" select the phase from the drop down menu.)
%p
  Click the "translate" button.
%p
  If you wish you can high light and copy your conversion.
